<div class="col-xs-6"></div>
<div class="col-xs-6">
        <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img routerLink="/personajedelmes" src="http://24.media.tumblr.com/tumblr_m9dtbs0PCp1qbz270o1_500.gif">
                    <div class="caption">
                      <a>Personaje del mes</a>
                      <p>Humphrey Bogart</p>
                    </div>
                  </div>
                </div>
              </div>




