/*.portada{
    background-color: #C0BBBB;
    height: 234px;
    width: 864px;
    margin-top: 30px;
    border: 500px;
    border-color: red;
   
}
*/

/*.col-xs-6{
    margin-right: 40px;
}*/



.sidebar-module {
    padding: 1rem;
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
  }
  .sidebar-module-inset p:last-child,
  .sidebar-module-inset ul:last-child,
  .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
  }
  .blog-pagination {
    margin-bottom: 4rem;
  }

